<!DOCTYPE html>
<html>
    <head>
        <style>
        .content {
            padding: 50px 70px 75px 80px;
            }
        </style>
    </head>

    <body>
        <div class="container content">
            <h5>Deleting <mark><%= @list.name %></mark> list</h5>
            <p>Are you sure you want to delete the whole list?</p>
            <form method="post" action="/lists/<%=@list.id%>">
              <input id="hidden" type="hidden" name="_method" value="delete">
              <input type="submit" class="btn btn-outline-dark btn-sm" value="Delete">
              <a href="/tasks"><input type="submit" class="btn btn-outline-dark btn-sm" value="Cancel"></a>
            </form>
        </div>
    </body>
</html>

