<!DOCTYPE html>
<html>
    <head>
        <style>
        .content {
            padding: 50px 70px 75px 80px;
            }
        </style>
    </head>

    <body>
        <div class="container content">
            <form method="post" action="/lists/<%=@list.id%>">
              <input id="hidden" type="hidden" name="_method" value="PATCH">

              <h4>Edit List Name:</h4>
              <input type="text" name="list[name]" value="<%=@list.name%>"><br><br>

              <label>Add New Task:</label>   
              <input type="text" name="task[name]" id="new_task">
              <br>

              <br>
              <input type="submit" class="btn btn-outline-dark" value="Update list">
            </form>
            <br>

            <form method="post" action="/lists/<%=@list.id%>">
              <input id="hidden" type="hidden" name="_method" value="delete">
              <input type="submit" class="btn btn-outline-danger btn-sm" value="Delete list">
            <form>

        </div>
    </body>
</html>


