<!DOCTYPE html>
<html>
    <head>
        <style>
        .content {
            padding: 50px 70px 75px 80px;
            }
        </style>
    </head>

    <body>
        <div class="container content">
            <h5>New Task on <%= @list.name %></h5>

            <form method="post" action="/lists/:id/tasks/new/<%= @list.id %>">
                <input type="text" name="name" placeholder="Task Name">
                <input class="btn btn-outline-dark" type="submit" value="Create">
            </form>
                
        </div>
    </body>
</html>
