<% if flash[:error] %>
    <p style="background-color: #F8F8FF; 
        font-weight: bold;
        padding: 20px;
        max-width: 600px;">
        <%= flash[:error] %> 
    </p>
<%end%>

<!DOCTYPE html>
<html>
    <head>
        <style>
        .content {
            padding: 50px 70px 75px 80px;
            }
        </style>
    </head>

    <body>
        <div class="container content">
            <h5>New List</h5>

            <form method="post" action="/lists">
                <input type="text" id="list_name" name="name" placeholder="List Name"><br><br>
        
                <label for="name">Add Your First Task</label><br>
                <input type="text" id="task_name" name="task[name]" placeholder="Task"><br><br>
        
                <input class="btn btn-outline-dark" type="submit" value="Create">
            </form>
        </div>
    </body>
</html>


    