<!DOCTYPE html>
<html>
    <head>
        <style>
        .content {
            padding: 50px 70px 75px 80px;
            }
        </style>
    </head>

    <body>
        <div>
            <h5>Name: <%= current_profile.name %></h5>
            <h5>Bio: <%= current_profile.bio %></h5>
        
        </div>
    </body>
</html>