<!DOCTYPE html>
<html>
    <head>
        <style>
        .content {
            padding: 50px 70px 75px 80px;
            }
        </style>
    </head>

    <body>
        <div class="container content">
            <h5>Deleting <mark><%= @task.name %></mark> task</h5>
            <form method="post" action="/tasks/<%=@task.id%>">
              <input id="hidden" type="hidden" name="_method" value="delete">
              <input type="submit" class="btn btn-outline-danger btn-sm" value="Delete">
            </form>
            <a href="/tasks"><input type="submit" class="btn btn-outline-dark btn-sm" value="Cancel"></a>
        </div>
    </body>
</html>