<h1>Edit Task</h1>
<form method="post" action="/tasks/<%= @task.id %>">
<input id="hidden" type="hidden" name="_method" value="patch">
<input type="text" name="name" value="<%= @task.name %>">

<input class="btn btn-primary" type="submit" name="edit" value="Edit">
</form>
