<h1>This is the Model's index page.</h1>

<h6>start to-day with a smile</h6><br>
<h6>make to-day productive</h6><br>
<h6>fill to-day with positivity</h6><br> 

<a class="button" href="/login">Login</a>
<a class="button" href="/signup">Signup</a>