<h1>Hello <%= @user.username.capitalize %>! </h1>

<a href="/lists/new"><button type="button">Create A New List</button></a>
<br><br>

<div>
    <h2>Here's your current list:</h2>
        <% @user.lists.each do |list| %>
            <h2><%= list.name %></h2>
            <%list.tasks.each do |task| %>
                <ol>
                <li><h6><%= task.name %></h6></li>
                </ol>
            <% end %>
        <% end %>
</div>

