<h1>Hello <%= @user.username.capitalize %>! </h1>

<a href="/lists/new"><button type="button">Create A New List</button></a>
<br><br>


    <h2>Here's your current tasks:</h2>
        <% @user.lists.each do |list| %>
            <h2><%= list.name %></h2>
            <ol>
            <%list.tasks.each do |task| %>                
                <li><%= task.name %></li>
            <% end %>
            </ol>
        <% end %>

<a class="button" href="/logout">Log out</a>
