<h1>Hello <%= @user.username.capitalize %>! </h1>

<a href="/lists/new"><button type="button">Create A New List</button></a>

<h3>Here's your current list</h3>
    <% @user.lists.each do |list| %>

        <h2><%= list.name %></h2>
        <% list.tasks.each do |task| %>
            <h4><%= task.name %></h4>
        <% end %>
    <% end %>


