* {
  font-family: sofia-pro,Roboto,Helvetica,Arial,sans-serif;
  box-sizing: border-box;
  font-weight: 300;
}


footer.branding {
  background-color: rgb(8, 3, 3);
  padding: 10px;
  text-align: center;
  color: black;
}


 {
  line-height: 28px;
  color: #888888;
  font-weight: 300;
  letter-spacing: 0.2px;
  width: 100%;
  max-width: 350px;
  margin: 0px auto;
}