* {
  font-family: sofia-pro,Roboto,Helvetica,Arial,sans-serif;
  box-sizing: border-box;
  font-weight: 300;
  max-width: 900px;
  margin: 0px auto;
}

.content footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.alert {
  padding: 30px
}

.error {
  background-color: #F8F8FF; 
  font-weight: bold;
  padding: 20px;
  max-width: 600px;
}
