@media screen {
  /* --- index page --- */

  .content {
    padding: 50px 50px 75px 50px      !important;
    }
    
  .content p {
      line-height: 20px;
      color: #888888;
      font-weight: 300;
      letter-spacing: 0.2px;
      width: 100%;
  }

  * {

  }

  .content footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .alert {
    padding: 30px
  }

  .error {
    background-color: #F8F8FF; 
    font-weight: bold;
    padding: 20px;
    max-width: 600px;
  }

  .content{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
  }
  .all_list {
    padding: 20px;
  }
  .individual_list {
    padding: 15px;
  }

  input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
    font-style: italic;
  }

  .list_name {
    font-weight: 900;
  }

  

}
