<!DOCTYPE html>
<html>
    <head>
        <style>
        .content {
            padding: 50px 70px 75px 80px;
            }
        </style>
    </head>

    <body>
        <div class="container content">
            <form method="post" action="/signup"><br>
                <div class="form-group">
                    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
                    <label for="username" class="visually-hidden">Username</label>
                    <input type="text" name="user[username]" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password" class="visually-hidden">Password</label>
                    <input type="text" name="user[password]" placeholder="Password">
                </div>
                
                <br>
                <input class="btn btn-outline-dark" type="submit" value="Sign up">
            </form>

                <br><br>
                <p>Or you can <a href="/login">log in here.</a></p>
            
        </div>
    </body>
</html>

