<!DOCTYPE html>
<html>
    <head>
        <style>

        .content {
            padding: 50px 50px 75px 50px;
            }
            
        .content p {
            line-height: 20px;
            color: #888888;
            font-weight: 300;
            letter-spacing: 0.2px;
            width: 100%;
        }
        
        </style>
    </head>

    <body>
        <div class="container">
            <div class="content"
                <h1>to-day, a simple yet powerfull list to help you organize your daily tasks.</h5><br><br><br>
                <p class="text-center">start to-day with a smile</p>
                <p class="text-center">fill to-day with positivity</p>
                <p class="text-center">make to-day productive</p>
            </div>
        </div>
    </body