<!DOCTYPE html>
<html>
    <head>
        <style>
        .content {
            padding-top: 50px;
            padding-right: 30px;
            padding-bottom: 50px;
            padding-left: 80px;
            }

        
        </style>
    </head>

    <body>
        <div class="container">
            <div class="content"
                <h5>to-day, a simple yet powerfull list to help you organize your daily tasks.</h5>
                <p>start to-day with a smile</p>
                <p>fill to-day with positivity</p>
                <p>make to-day productive</p>
            </div>
        </div>
    </body>
</html>

