
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>to-day</title>
  </head>

  <body>
    <div class="container">
    <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/"><i class="bi bi-check2-square"></i> to-day</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <% if logged_in? %>
                <a class="nav-link active" href="/lists">Home</a></li>
                <a class="nav-link" href="/lists/new">New List</a></li>
                <a class="nav-link" href="/tasks/new">New Task</a></li>
                <a class="nav-link" href="/logout">Log Out</a></li>
              <% else %>
                <a class="nav-link active" href="/login">Log In</a></li>
                <a class="nav-link active" href="/signup">Sign Up</a></li>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </div>
  
    <div class="container .col-md-6">
      <div class="content" style="background-image: url('/img/dot-grid.png')">

      <% if flash[:alert] %>
        <div class="alert"><%= flash[:alert] %></div>
        <%elsif flash[:message]%>
        <div class="message"><%= flash[:message] %></div>
      <%elsif flash[:notice]%>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>

      <%= yield %>

      <footer class="branding">
        <small>&copy; 2021 <strong><i class="bi bi-check2-square"></i> to-day</strong></small>
      </footer>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>