<!DOCTYPE html>
<html>
    <head>
        <style>
        .content {
            padding: 50px 70px 75px 80px;
            }
        </style>
    </head>

    <body>
        <div>
            <h2><%= current_user.username %></h2>
        </div>
    </body>
</html>